* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Poppins,sans-serif;  
}
body {
    overflow: hidden;
}
p, button, a {
    font-size: 17px;
    line-height: 1.5;
    color: #161c2d;
}
ul, li {
    font-size: 17px;
    line-height: 1.5;
    color: #161c2d;
    overflow: hidden;
}
h1 {
    font-size: 68px;
    font-weight: 700;
    z-index: auto;
    color: #333;
}
h2 {
    font-size: 48px;
    font-weight: 600;
    z-index: auto;
    color: #333;
}
h3 {
    font-size: 42px;
    font-weight: 600;
    z-index: auto;
    color: #333;
}
h4 {
    font-size: 32px;
    font-weight: 500;
    z-index: auto;
    margin: 40px 0;
    line-height: 1.2;
    color: #333;
}
h5 {
    font-size: 24px;
    font-weight: 400;
    z-index: auto;
    margin: 10px 0px ;
}


/*** NAVBAR ***/

.navbar .container-logo .logo {
    width: 170px;
    cursor: pointer;
    display: none;
}
.navbar {
    /* background-color: #F4F3FD; */
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    padding: 0px 8%;
}
.navi-list {
    list-style-type: none;
    display: block;
}
.navi-list .list-item {
    display: inline-block;
    padding: 20px 10px;
}
.navbar .list-item a {
    color: #161c2d;
    text-decoration: none;
    background: #F4F3FD;
    padding: 10px 20px;
    border-radius: 10px;
    border-bottom: 1px solid #7571f9;
}
.navbar .list-item a:hover {
    text-decoration: none;
    color: #E68200;
    border-bottom: 1px solid #E68200;
}
.menu {
    display: none;
    cursor: pointer;
}
.menu-line {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: 5px;
    border-radius: 10px;
}


/*** HEADER ***/

.banner {
    display: flex;
    align-content: space-between;
    align-items: center;
    margin: 0;
    background-color: #F4F3FD;
    border-bottom-right-radius: 130px;
}
.banner .banner-left {
    flex-basis: 40%;
    position: relative;
    margin-left: 100px;
}
.banner .banner-left h1 {
    color: #333;
    margin: 20px 0 10px;
    /* background: -webkit-linear-gradient(30deg, #E68200, #ffffff); */
    background: #E68200;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-right {
    position: relative;
    flex-basis: 75%;
    display: flex;
    align-items: center;
}


/*** BUTTONS ***/

.buttons {
    display: inline-block;
}
.demo-btn, .learn-btn  {
    border: 1px solid #7571f9;
    background: #7571f9;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 50px;
}
.learn-btn:hover, .demo-btn:hover {
    background: #ffffff;
    border: 1px solid #E68200;
}
.learn-btn a, .demo-btn a {
    display: block;
    padding: 14px 50px;
    color: #ffffff;
    text-decoration: none;  
}
.learn-btn:hover a, .demo-btn:hover a {
    color: #E68200;
    text-decoration: none;
    width: auto;
}



/*** SVG/LINK to YOUTUBE BUTTON ***/
.svg-container {
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: center;
    align-content: center;
}
.svg-container a {
    text-decoration: none;
}
svg#play {
    width: 85px;
    margin: 70px 20px;
    display: block;
    cursor: pointer;
    transform-origin: 50% 50%;
}
svg#play-youtube {
    width: 60px;
    margin: 70px 20px;
    display: block;
    cursor: pointer;
    transform-origin: 50% 50%;
}
svg#play #triangle, svg#play-youtube #triangle {
    fill:rgba(22,22,22,0);
    transition:500ms;
    transform-origin: 50% 50%;
}
svg#play:hover #triangle, svg#play-youtube:hover #triangle  {
    fill:#7571f9;
    transform-origin: 50% 50%;
}
svg #lineOne, svg #lineTwo {
    transform-origin: 50% 50%;
    transition: 1s;
} 
svg:hover #lineOne {
    transform: rotate(260deg);
    -webkit-transform: rotate(260deg);
    -moz-transform: rotate(260deg);
    -o-transform: rotate(260deg);
    transform-origin: 50% 50%;
} 
svg:hover #lineTwo {
    transform: rotate(-450deg);
    transform-origin: 50% 50%;
}     


/*** 3D SECTION ***/
.screens-cont {
    display: flex;
    margin: 100px 120px;
}
.custom-text {
    flex-basis: 40%;
    position: relative;
    margin: auto;
    padding: 10px;
}
.custom-txt {
    color: #E68200;
    font-size: 48px;
}
.screens-3d {
    flex-basis: 60%;
    position: relative;
}
.screens-3d img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.features-row {
    display: flex;
    align-content: space-between;
    align-items: center;
    padding: 50px 50px 50px 100px;
    background-color: #F4F3FD;
}
.features-row .register-img {
    flex-basis: 70%;
    position: relative;
}
.features-row .register-txt {
    flex-basis: 40%;
    position: relative;
    margin: auto;
    padding-top: 50px;
}
.register-txt h5, .features-txt h5 {
    color:#E68200;
}
.register-txt p, .features-txt p {
    color: #161c2d;
}
.register-txt .dot {
    font-size: 60px;
    line-height: 0;
}
.features-row .features-txt {
    flex-basis: 35%;
    position: relative;
    margin: auto;
    padding-top: 50px;
}
.features-row .features-img {
    flex-basis: 70%;
    position: relative;
}
.features-row .features-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*** BENEFITS ***/

.benefits {
    margin: 100px 150px;
}
.benefits .benef-title-txt {
    text-align: center;
    margin: 50px 100px;
}
.benef-title-txt p {
    line-height: 1.3;
}
.benefits h2 {
    text-align: center;
}
.benefit-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin: 50px 0px;
    padding: 20px 30px;
}
.benefit-box .each-box {
    padding: 0px 20px 30px;
    border-radius: 15px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    text-align: center;
    height: 230px;
}
.each-box p {
    text-transform: uppercase;
    line-height: 1.4;
}
.benefit-box .each-box .icon-div{
    text-align: left;
}
.benefit-box .each-box .icon-div img {
    display: block;
    width: 60px;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 9px 5px 6px;
    background: #7571f9;
    display: inline-block;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


/*** SECTION WORKS ***/

.how-it-works {
    margin: 20px 120px;
}
.how-it-works h2 {
    text-align: center;
}
.how-it-works .works-txt {
    text-align: center;
    padding: 40px 100px;
}
.how-it-works .works-txt h4 {
    color: #E68200;
    padding-top: 60px;
}
.how-it-works .works-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/***  TESTIMONIALS  ***/

.testimonials {
    align-content: space-between;
    align-items: center;
    padding: 50px 100px 50px 0px;
}
.testimonials h2 {
    text-align: center;
}
.fdb-row {
    display: flex;
    margin: 50px 0;
}
.fdb-row .tstm-left-col {
    padding: 170px 70px;
    margin: auto;
    flex-basis: 50%;
    position: relative;
    border-bottom-right-radius: 300px;
    border-top-right-radius: 300px;
}
.fdb-row .tstm-left-col p { 
    padding: 30px 60px;
    display: inline-block;
    margin: auto;
}
.fdb-row .feedback {
    padding: 0px 0px 0px 50px;
    flex-basis: 50%;
    position: relative;   
}
.tstm-left-col {
    background: #F4F3FD;
}
.tstm-left-col h4, .tstm-left-col p {
    color: #161c2d
}
.fdb-1 .client, .fdb-2 .client {
    color: #161c2d; 
    font-size: 16px;
}
.fdb-1 .fdb-txt, .fdb-2 .fdb-txt {
    color: #161c2d; 
    margin-top: 20px;
    font-size: 16px;
}
.fdb-1 {
    padding: 30px 20px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    margin: 50px 0;
    width: 470px;
    border-radius: 10px;
    border: 1px dashed #7571f9;
}
.fdb-2 {
    position: relative;
    float: right;
    padding: 30px 20px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    margin: 20px 0;
    width: 470px;
    border-radius: 10px;
    border: 1px dashed #7571f9;
}
.fdb-1 .client, .fdb-2 .client {
    color: #E68200;
}


/*** PARTNE & CLIENTS ***/
.partner-row {
    text-align: center;
    margin: 100px 120px;
}
.partner-row .clients .clients-row{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    align-items: center;
    margin: 100px 100px;
}


/*** SECTION TEAM ***/

.team-wrap {
    display: flex;
    text-align: center;
    margin: 100px 0 50px 0;
}
.about-us {
    text-align: center;
    margin: 50px 250px 30px;
}
.team h2 {
    text-align: center;
}
.person_inner_container {
    display: flex;
}
.person_info, .person_img {
    display: inline-block;
    margin: auto;
}
.person_1 {
    flex: 1;
    padding: 50px 50px 50px 300px;
    background: #F4F3FD;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
    display: inline-block;
    margin: auto 50px auto auto;   
}
.person_2 {
    flex: 1;
    padding: 50px 300px 50px 50px;
    background: #F4F3FD;
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
    display: inline-block;
    margin: auto auto auto 50px;
}
.person_1 img, .person_2 img  {
    padding: 10px;
    width: 150px;
    border-radius: 200px;
    border: 1px dashed #7571f9;
}


/*** FOOTER ***/

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer{
	background: #F4F3FD;
	display: block;
    padding: 20px 0;
    text-align: center;
}
.footer .footer-container .logo {
    width: 150px;
    display: none;
}
.footer-container p {
    padding: 10px 0;
}
.footer .footer-company-name{
	color:  #161c2d;
	font-size: 14px;
	font-weight: 600;
	margin: 0;
}


/* CONTACT INFO */

.contact-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 100px 155px 0;
}
.contact-info .phone img, .contact-info .email img {
    height: 25px;
    padding-right: 5px;
}
.contact-info .footer-icons img, .contact-info-contact-page .footer-icons img {
    position: relative;
    cursor: pointer;
}
.contact-info .phone p,  .contact-info .email p, .contact-info .footer-icons a{
    color: #161c2d;
    text-decoration: none;
    font-size: 16px;
    padding-top: 3px;
}
.contact-info .phone, .contact-info .email, .contact-info .footer-icons {
    display: flex;
    position: relative;
    text-align: center;
    padding: 10px 100px;
    margin: auto;
}
.contact-info .phone, .contact-info .email {
    border-right: 1px dashed #7571f9;;
}


/*** SCROLL TO TOP BTN ***/
#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 99;
    border: none;
    cursor: pointer;
    padding: 4px 6px 0px 6px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background: #7571f9; 
}


/*** CONTACT FORM ***/

.form-container {
    width: 100%;
    /* height: 100vh; */
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: #F4F3FD;
    padding-top: 100px;
}
form {
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    max-width: 650px;
    border-radius:  10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: auto;
}
form h3 {
    margin: 20px 0 50px 0;
}
form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    /* background: #f5f5f5; */
    font-size: 15px;
    /* border-radius: 5px; */
    width: 100%;
    border-bottom: 1px solid #161c2d;
}
form .submit {
    padding: 13px 20px;
    background: #7571f9;
    color: #ffffff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 200px;
    margin: 50px auto 30px;
    border-radius: 30px;
}



